/* HeroDetailComponent's private CSS styles */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height:400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding:10px;
}

label,span {
  color: black;
  
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(0, 130, 236);
  text-align: center;
  cursor: pointer;
  width: 50%;
  margin-top:2em;
  border-radius:4px;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
body{
  margin:10em;
}