<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
 <div class="topnav">
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/login">Log Out</a>
  </div>

  <h2>Employees List</h2>
  <div *ngIf="show">
      <label>Employee name:
        <input class="inputDef" #employeeName />
      </label>
   
      <button class="buttonAdd"(click)="add(employeeName.value); employeeName.value=''">
        Add
      </button>
  
    </div>
  <ul class="employees">
    <li *ngFor="let employee of employeesList">
            <a routerLink="/detail/{{employee.id}}">
    <span class="badge">{{employee.id}}</span> {{employee.name}}
</a> 
<div *ngIf="show">
  <button class="delete" title="delete employee"
  (click)="delete(employee)">x</button>
  </div>
</li>
  </ul>
  
  
</body>

</html>