<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <a routerLink="/dashboard">Dashboard</a>
  

  <h2>Employees List</h2>
  <ul class="employees">
    <li *ngFor="let employee of employeesList">
            <a routerLink="/detail/{{employee.id}}">
    <span class="badge">{{employee.id}}</span> {{employee.name}}
</a> 
<div *ngIf="show">
  <button class="delete" title="delete employee"
  (click)="delete(employee)">x</button>
  </div>
</li>
  </ul>
  <div *ngIf="show">
    <label>Employee name:
      <input #employeeName />
    </label>
  
    <button (click)="add(employeeName.value); employeeName.value=''">
      Add
    </button>

  </div>
  
</body>

</html>